#app {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 16px);
    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    & > *:first-child {
        flex: 1;
    }
}