.timeline {
    overflow-y: auto;
    width: 100%;
    & pre {
        white-space: pre-wrap;
    }
    & .post-time {
        font-variant-numeric: tabular-nums;
        opacity: 0.5;
        padding-right: 0.5em;
        float: left;
        &::after {
            clear: both;
        }
    }
}